<ng-container>
  <h1 class="text-3xl leading-loose">鐵人賽歷屆主題搜尋</h1>
  <app-search [selectYear]="false"></app-search>
  <nav>
    <ul class="">
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2022'">2022</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2021'">2021</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2020'">2020</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2019'">2019</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2018'">2018</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2017'">2017</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2016'">2016</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2015'">2015</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/2014'">2014</a>
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/history'">2014 以前</a>
      </li>
    </ul>
  </nav>
</ng-container>
