<ng-container>
  <h1 class="text-3xl leading-loose">IT 鐵人賽歷屆主題搜尋</h1>
  <app-search [isSelectNth]="false"></app-search>
  <nav>
    <ul class="">
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list'">{{ nthLabel.All }}</a>
      </li>
      <li
        *ngFor="let num of ['15', '14', '13', '12', '11', '10', '9', '8', '7']"
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a
          class="px-3 py-1"
          [routerLink]="'list/' + $any(nthKey)['Th' + num]"
          >{{ $any(nthLabel)["Th" + num] }}</a
        >
      </li>
      <li
        class="before:pointer-events-none relative inline-block bg-neutral-100 text-neutral-700 mt-3 mx-1 hover:shadow-sm before:hover:border before:absolute before:w-full before:h-full before:top-0 before:left-0 dark:bg-neutral-600 dark:text-white"
      >
        <a class="px-3 py-1" [routerLink]="'list/history'">{{
          nthLabel.History
        }}</a>
      </li>
    </ul>
  </nav>
</ng-container>
