<div class="w-1/2 leading-loose">
  <p class="text-2xl font-bold leading-loose">源起</p>
  <p>
    鐵人賽裡面其實有很多寶藏可以挖 但卻很難有系統的去搜尋到自己想要系列主題，用了最近剛學會的 python 爬了一下鐵人賽所有的主題，做了個歷屆主題搜尋器，所以這裡就誕生囉！
  </p>
  <p class="text-lg font-bold pt-8">使用技術：</p>
  <ul class="mt-1">
    <li><a href="https://angular.tw/" target="_black">Angular</a></li>
    <li>
      <a href="https://tailwindcss.com/" target="_black">Tailwindcss</a>
    </li>
    <li>Python 資料抓取</li>
  </ul>
</div>
<hr class="my-8 text-neutral-200 w-full" />
<p class="text-lg">有任何想法與建議歡迎留言給我哦！</p>
<div class="w-full" id="comments"></div>
