<select
  *ngIf="isSelectYear"
  name=""
  id=""
  [formControl]="selectYear"
  (ngModelChange)="onYearChange($event)"
  class="flex bg-transparent m-0 break-words mr-4 w-36 border-none placeholder:text-neutral-400 focus:outline-none"
  >
  <option
    *ngFor="let y of years"
    [value]="y.value"
    class="dark:bg-neutral-800 dark:text-white"
  >
    {{ y.label }}
  </option>
</select>
<input
  type="text"
  placeholder="搜尋文章標題"
  [(ngModel)]="keyword"
  (keyup.enter)="onSearch($any($event).target.value)"
  class="flex bg-transparent m-0 break-words mr-4 w-full border-none placeholder:text-neutral-400 focus:outline-none"
/>
<fa-icon
  [icon]="['fas', 'xmark']"
  class="cursor-pointer flex items-center text-neutral-300"
  (click)="onClear()"
>
</fa-icon>
<fa-icon
  [icon]="['fas', 'magnifying-glass']"
  class="ml-2 cursor-pointer flex items-center text-neutral-300"
  (click)="onSearch(keyword)"
>
</fa-icon>
