<ng-container *ngIf="!(isAuthorSearch$ |async); else authorTmp">
<select
  *ngIf="isSelectNth"
  name=""
  id=""
  [formControl]="selectNth"
  (ngModelChange)="onNthChange($event)"
  class="flex bg-transparent m-0 break-words mr-4 w-40 border-none placeholder:text-neutral-400 focus:outline-none dark:text-black"
>
  <option
    *ngFor="let th of nthOptions"
    [value]="th.value"
  >
    {{ th.label }}
  </option>
</select>
<input
  type="text"
  placeholder="搜尋文章標題"
  [(ngModel)]="keyword"
  (keyup.enter)="onSearch($any($event).target.value)"
  class="flex bg-transparent m-0 break-words mr-4 w-full border-none placeholder:text-neutral-400 focus:outline-none dark:text-black"
/>
</ng-container>

<div class="flex">
  <span
    *ngIf="keyword.length > 0"
    class="h-10 w-10 cursor-pointer flex items-center justify-center"
  >
    <fa-icon
      [icon]="['fas', 'xmark']"
      class="cursor-pointer flex items-center text-neutral-300"
      (click)="onClear()"
    >
    </fa-icon>
  </span>
  <span class="h-10 w-10 cursor-pointer flex items-center justify-center">
    <fa-icon
      [icon]="['fas', 'magnifying-glass']"
      class="text-neutral-300"
      (click)="onSearch(keyword)"
    >
    </fa-icon>
  </span>
</div>

<ng-template #authorTmp>
<input
  type="text"
  placeholder="搜尋作者"
  [(ngModel)]="author"
  (keyup.enter)="onAuthorSearch($any($event).target.value)"
  class="flex bg-transparent m-0 break-words mr-4 w-full border-none placeholder:text-neutral-400 focus:outline-none dark:text-black"
/>
</ng-template>
